# Sanal ortam klasörleri
myenv/
env/
venv/
.venv/

# Python derlenmiş dosyaları
__pycache__/
*.py[cod]
*$py.class

# Kişisel IDE/Editor dosyaları
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS ve diğer işletim sistemi dosyaları
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoint dosyaları
.ipynb_checkpoints/

# Log dosyaları ve geçici dosyalar
*.log
*.tmp
*.bak
*.swp
*.lock

# Çıktı dosyaları ve geçici klasörler
outputs/
models/
*.h5
*.ckpt
*.pb
*.tflite

# Büyük ML dosyaları
*.pkl
*.joblib
*.pyd
*.dll
*.so

# CSV, dataset ve büyük veri dosyaları
*.csv
*.tsv
*.dat
*.data
*.npz

# TensorFlow için spesifik dosyalar
tensorflow/
myenv/Lib/site-packages/tensorflow/

# Büyük dosyalar veya gereksiz dosyalar
*.pyd
*.dll

# Git LFS kullanımı önerilen büyük dosyalar
# (Örneğin eğitim veri setleri, model ağırlıkları gibi çok büyük dosyalar varsa)
*.h5
*.tar.gz
*.zip
*.tgz
